<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>基本配置</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin/js/libs/modernizr.min.js"></script>
</head>
<body>
<include file="Common/head" />
<div class="container clearfix">
    <include file="Common/left" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="#">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="#">链接管理</a><span class="crumb-step">&gt;</span><span>修改链接</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form id="myform" name="myform">
                    <input type="hidden" name="id" value="{$links.id}">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <tr>
                            <th><i class="require-red">*</i>站点标题：</th>
                            <td>
                                <input class="common-text required" id="title" name="title" size="50" value="{$vo.title}" type="text">
                            </td>
                        </tr>

                        <tr>
                            <th><i class="require-red">*</i>关键词：</th>
                            <td>
                                <input class="common-text required" id="url" name="url" size="50" value="{$vo.keywords}" type="text">
                            </td>
                        </tr>

                        <tr>
                            <th><i class="require-red">*</i>网站简介：</th>
                            <td>
                                <textarea style="width:382px; height: 100px;" name="desc">{$vo.description}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                            </td>
                        </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>
