<footer class="tm-footer">
    <div class="container-fluid">
        <!-- <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 col-xl-2">
                <div class="tm-footer-content-box tm-footer-links-container">

                    <h3 class="tm-gold-text tm-title tm-footer-content-box-title">栏目分类</h3>
                    <style type="text/css">
                        a:link {
                            text-decoration: none;
                        }
                        a:visited {
                            text-decoration: none;
                        }
                        a:hover {
                            text-decoration: none;
                        }
                        a:active {
                            text-decoration: none;
                        }
                    </style>
                    <nav>
                        <ul class="nav">
                            <volist name="cateres" id="vo">
                            <li><a href="__MODULE__/Cate/index/id/{$vo.id}" class="tm-footer-link">{$vo.catename}</a></li>
                                </volist>
                        </ul>
                    </nav>

                </div>

            </div>

            <div class="clearfix hidden-lg-up"></div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">

                <div class="tm-footer-content-box">

                    <h3 class="tm-gold-text tm-title tm-footer-content-box-title">联系方式</h3>
                    <p class="tm-margin-b-30">QQ：1041117602</br>Q群：174231024</br>E-mail：mail@fenxd.com
                    </p><hr class="tm-margin-b-30">
                    <p class="tm-margin-b-30">（QiuBlog）博客基于ThinkPHP开发.</p>
                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">

                <div class="tm-footer-content-box">

                    <h3 class="tm-gold-text tm-title tm-footer-content-box-title">热门图片</h3>
                    <div class="tm-margin-b-30">
                        <img src="__PUBLIC__/index/img/tm-img-100x100-1.jpg" alt="Image" class="tm-footer-thumbnail">
                        <img src="__PUBLIC__/index/img/tm-img-100x100-2.jpg" alt="Image" class="tm-footer-thumbnail">
                        <img src="__PUBLIC__/index/img/tm-img-100x100-3.jpg" alt="Image" class="tm-footer-thumbnail">
                        <img src="__PUBLIC__/index/img/tm-img-100x100-4.jpg" alt="Image" class="tm-footer-thumbnail">
                        <img src="__PUBLIC__/index/img/tm-img-100x100-5.jpg" alt="Image" class="tm-footer-thumbnail">
                        <img src="__PUBLIC__/index/img/tm-img-100x100-6.jpg" alt="Image" class="tm-footer-thumbnail">
                        <img src="__PUBLIC__/index/img/tm-img-100x100-1.jpg" alt="Image" class="tm-footer-thumbnail">
                        <img src="__PUBLIC__/index/img/tm-img-100x100-2.jpg" alt="Image" class="tm-footer-thumbnail">
                    </div>
                </div>

            </div>


            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 col-xl-2">
                <div class="tm-footer-content-box tm-footer-links-container">

                    <h3 class="tm-gold-text tm-title tm-footer-content-box-title">友情链接</h3>
                    <style type="text/css">
                        a:link {
                            text-decoration: none;
                        }
                        a:visited {
                            text-decoration: none;
                        }
                        a:hover {
                            text-decoration: none;
                        }
                        a:active {
                            text-decoration: none;
                        }
                    </style>
                    <nav>
                        <ul class="nav">
                            <volist name="linkres" id="vo">
                            <li><a href="{$vo.url}" class="tm-footer-link" target="_blank">{$vo.title}</a></li>
                                </volist>
                        </ul>
                    </nav>

                </div>

            </div>

        </div> -->

        <div class="row">
            <div class="col-xs-12 tm-copyright-col">
                <p class="tm-copyright-text">Copyright 2016 Your Company By <a href="http://www.fenxd.com" class="tm-gold-text">Qiugong.</a></p>
            </div>
        </div>
    </div>
</footer>
